<div class="h-full w-full flex items-center justify-center">
  <div class="login rounded-sm p-4 w-full max-w-120">
    <h2 class="font-medium text-3xl pb-4 text-center">Login</h2>
    <form [formGroup]="formGroup">
      <mat-form-field class="w-full ">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Enter Username" formControlName="username">
      </mat-form-field>
  
      <mat-form-field class="w-full ">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter Password" formControlName="password">
      </mat-form-field>
    </form>

    <button class="w-full" mat-flat-button (click)="onLogin()">Submit</button>
    <div class="text-center pt-4 text-neutral-500">
      <p>Disclaimer</p>
      <p>For Development and Testing purpose only. This data will not be present in Production</p>
      <p>Admin Cred -> username: admin / password: admin</p>
      <p>User Cred -> username: user / password: user</p>
    </div>
  </div>
</div>
