<div class="max-w-200 w-full mx-auto">
  <div class="flex items-center justify-between pb-8">
    <h1 class="text-4xl font-semibold">All Submissions</h1>
    <button mat-stroked-button (click)="goBack()">View Forms</button>
  </div>
  @for(submission of allSubmission(); track $index) {
    <div class="card p-4 rounded-sm w-full bg-green-50">
      <p class="text-xl pb-2 font-semibold">
        {{ submission.formName | titlecase }}
      </p>
      @for(key of getKeys(submission); track $index) {
        <div class="flex flex-wrap items-center pb-2">
          <span class="text-neutral-500 text-sm min-w-50">{{ key }}</span>
          <span class="text-xl font-medium min-w-60">{{ getValue(key, submission) }}</span>
        </div>
      }
    </div>
  }
  @if (!allSubmission().length) {
    <p class="text-center p-4 text-lg font-medium card rounded-sm">No Results Found!</p>
  }
</div>