
<div class="flex flex-wrap gap-4" cdkDropListGroup>
  <div class="example-container min-w-50 max-w-80 w-full">
    <h2 class="font-medium text-xl pb-4">Available items</h2>

    <div
      cdkDropList
      [cdkDropListData]="items"
      class="example-list"
      cdkDropListSortingDisabled
      [cdkDropListEnterPredicate]="noReturnPredicate"
      (cdkDropListDropped)="drop($event)">
      @for (item of items; track item) {
        <div class="example-box capitalize text-md font-medium bg-amber-50" cdkDrag>
          <div class="flex item-center gap-4">
            <mat-icon>{{icons[item.type]}}</mat-icon>
            {{item.type}}
          </div>
        </div>
      }
    </div>
  </div>

  <div class="example-container min-w-80 flex-1">
    <h2 class="font-medium text-xl pb-4">Build your form</h2>
    <mat-form-field class="w-full">
      <mat-label>Form Name</mat-label>
      <input matInput placeholder="Enter Name of the form" [(ngModel)]="formName">
    </mat-form-field>

    <form [formGroup]="basketForm">
      <div
        cdkDropList
        [cdkDropListData]="basket"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of basket; track item.controlName) {
          <div class="example-box bg-amber-50" cdkDrag>
            <div class="flex-1">
              @if (item.type === inputTypes.INPUT || item.type === inputTypes.TEXTAREA) {
                <app-input [inputData]="item" [control]="basketForm.get(item.controlName)" [onChangesToggle]="onChangesToggle"></app-input>
              }
              @if (item.type === inputTypes.DROPDOWN) {
                <app-dropdown [inputData]="item" [control]="basketForm.get(item.controlName)" [onChangesToggle]="onChangesToggle"></app-dropdown>
              }
              @if (item.type === inputTypes.RADIO) {
                <app-radio [inputData]="item" [control]="basketForm.get(item.controlName)"></app-radio>
              }
              @if (item.type === inputTypes.CHECKBOX) {
                <app-checkbox [inputData]="item" [control]="basketForm.get(item.controlName)"></app-checkbox>
              }
              @if (item.type === inputTypes.DATE_PICKER) {
                <app-datepicker [inputData]="item" [control]="basketForm.get(item.controlName)" [onChangesToggle]="onChangesToggle"></app-datepicker>
              }
            </div>
            <button mat-icon-button type="button" (click)="edit(item)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="removeControl($index)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        }
        @if (!basket.length) {
          <p class="text-center text-neutral-500 pt-4">Drop Input fields here...</p>
        }
      </div>
    </form>
    <div class="text-center pt-4 flex justify-center gap-4">
      <button mat-stroked-button (click)="viewAllForms()">Back</button>
      <button mat-flat-button (click)="submit()">Save</button>
    </div>
  </div>
</div>
