
<div cdkDropListGroup>
  <div class="example-container c1">
    <h2>Available items</h2>

    <div
      cdkDropList
      [cdkDropListData]="items"
      class="example-list"
      cdkDropListSortingDisabled
      [cdkDropListEnterPredicate]="noReturnPredicate"
      (cdkDropListDropped)="drop($event)">
      @for (item of items; track item) {
        <div class="example-box" cdkDrag>{{item.type}}</div>
      }
    </div>
  </div>

  <div class="example-container w-full">
    <h2>Shopping basket</h2>

    <form [formGroup]="basketForm">
      <div
        cdkDropList
        [cdkDropListData]="basket"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        @for (item of basket; track item.controlName) {
          <div class="example-box" cdkDrag >
            <div class="flex-1">
              @if (item.type === inputTypes.INPUT) {
                <app-input [inputData]="item" [control]="basketForm.get(item.controlName)"></app-input>
              }
              @if (item.type === inputTypes.DROPDOWN) {
                <app-dropdown [inputData]="item" [control]="basketForm.get(item.controlName)"></app-dropdown>
              }
              @if (item.type === inputTypes.RADIO) {
                <app-radio [inputData]="item" [control]="basketForm.get(item.controlName)"></app-radio>
              }
              @if (item.type === inputTypes.CHECKBOX) {
                <app-checkbox [inputData]="item" [control]="basketForm.get(item.controlName)"></app-checkbox>
              }
              @if (item.type === inputTypes.DATE_PICKER) {
                <app-datepicker [inputData]="item" [control]="basketForm.get(item.controlName)"></app-datepicker>
              }
            </div>
            <button mat-icon-button type="button" (click)="edit(item)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        }
      </div>
    </form>
  </div>
</div>

<button (click)="submit()">submit</button>