@if (formGroup) {

  <div class="max-w-200 w-full mx-auto">
    <h1 class="text-4xl font-semibold pb-6">{{ formName }}</h1>

    <form [formGroup]="formGroup">
      @for (item of formFields; track item.formControlName) {
        <div class="w-full pb-4">
          @if (item.type === inputTypes.INPUT) {
            <app-input [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-input>
          }
          @if (item.type === inputTypes.DROPDOWN) {
            <app-dropdown [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-dropdown>
          }
          @if (item.type === inputTypes.RADIO) {
            <app-radio [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-radio>
          }
          @if (item.type === inputTypes.CHECKBOX) {
            <app-checkbox [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-checkbox>
          }
          @if (item.type === inputTypes.DATE_PICKER) {
            <app-datepicker [inputData]="item" [control]="formGroup.get(item.formControlName)"></app-datepicker>
          }
        </div>
      }
    </form>
    <div class="text-center pt-4 flex item-center justify-center gap-4">
      <button mat-stroked-button (click)="back()">Back</button>
      @if (this.commonService.viewFormData().editAccess) {
        <button mat-flat-button (click)="submit()">Submit</button>
      }
    </div>
  </div>
}
